!!!
%html
  %head
    %title Epiclogger

    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Engage developers with users to solve errors", :name => "description"}/

    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:id=>"#{controller.controller_name}-#{controller.action_name}"}
    .loading.j-cloak
    = render partial: 'layouts/menu'
    #maincontainer.container-fluid
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-eval' => false
    - if Rails.application.assets.find_asset("pages/#{controller.controller_name}")
      = javascript_include_tag "pages/#{controller.controller_name}", 'data-turbolinks-eval' => false, 'data-turbolinks-track' => true
