!!!
%html
  %head
    %title Epiclogger

    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Engage developers with users to solve errors", :name => "description"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:id=>"#{controller.controller_name}-#{controller.action_name}"}
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-eval' => false
